.pectin-ValidationDisplayPanel {}
.pectin-ValidationDisplayPanel .message,
.pectin-ValidationDisplayLabel {
   font-size: 90%;
   font-style:italic;
}
.pectin-ValidationDisplayPanel .validationError,
.pectin-ValidationDisplayLabel-validationError {
   color: #D8000C;
}
.pectin-ValidationDisplayPanel .validationWarning,
.pectin-ValidationDisplayLabel-validationWarning {
   color: #9F9f00;
}
.pectin-ValidationDisplayPanel .validationInfo,
.pectin-ValidationDisplayLabel-validationInfo {
   color: #00529B;   
}
